# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
.gradle/
build/

# Debug and logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# Local env files
.env*
*.pem
*.p12
*.key
*.mobileprovision

# TypeScript
*.tsbuildinfo

# IDE folders
.vscode/
.idea/
